@model About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html>



<body>


    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="@Model.AboutImage" class="img-fluid" alt="">
                            </a>
                        </div>
                        <p>
                            @Model.AboutDetails
                        </p>

                    </div>

                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        @await Html.PartialAsync("~/Views/NewLetter/SubscribeMail.cshtml")


                        <div class="tech-btm">
                            <h4>Son Postlar</h4>
                            @await Component.InvokeAsync("LastPosts")
                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->

</body>

</html>

