<div class="tech-btm">
    <h4>Mail bülteni abone ol!</h4>
    
    <form action="/NewLetter/SubscribeMail" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>