@model WriterProfile
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Kayıt Ol</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form class="form-group" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body">
                            <div class="forms-sample text-center">

                                <div class="form-group">
                                    <label for="exampleInputName1">Ad Soyad</label>
                                    @Html.TextBoxFor(w => w.WriterName, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Mail</label>
                                    @Html.TextBoxFor(w => w.WriterMail, new { @class = "form-control", type = "email" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Şifre</label>
                                    @Html.PasswordFor(w => w.WriterPassword, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Yazar Profil Resmi</label>
                                    <input class="form-control" type="file" name="WriterImage" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea1">Yazar Hakkında</label>
                                    @Html.TextAreaFor(w => w.WriterAbout, 10, 3, new { @class = "form-control" })

                                </div>
                                <button type="submit" class="btn btn-success">Kayıt Ol!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


